html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}


.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}





.App {
  text-align: center;
}





.App-link {
  color: #61dafb;
}


.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.progressBar {
  height: 5px;
  background-color: #8AAAE5;
  margin: 20px 0;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html, #root {
  background-color: #424651;
  color: whitesmoke;
}

.imgContainer {
  max-width: 100%;
}

img {
  max-width: 100%;
  display: block;

}
/* HEADER STYLES */
/* * {
  border: 1px solid red;
} */
header {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #8AAAE5;
  width: 50%;
  text-align: left;
  margin-left: 100px;
  font-size: 3rem;
}

h1 a {
  text-decoration: none;
  color: #8AAAE5;
}


.signInUp {
display: flex;
font-weight: 700;
justify-content: space-evenly;
list-style: none;
width: 25%;
align-items: center;
}

.signInUp a {
  text-decoration: none;
  color: #8AAAE5;
}

.signInUp .button {
  background-color: #424651;
border: 2px solid #8AAAE5;
border-radius: 5px;
color: #8AAAE5;
cursor: pointer;
display: inline-block;
font-weight: 700;
padding: 10px 20px;
width: 70%;
transition: ease-in-out;
}

.signInUp .button:hover {
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
}



.galleryFlex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
}

.galleryFlex li {
  width: calc((100% / 3) - 20px);
  margin: 0 9px 20px;
}

.uploadPic {
  display: none;
}

.plusSign {
  background-color: #8AAAE5;
  color: whitesmoke;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.4;
  font-size: 2rem;
}

.plusSign:hover {
  background-color: whitesmoke;
  color: #8AAAE5;
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 2px;
}

.uploadForm {
  height: 55px;
  margin-bottom: 30px;
}

.toTop {
  background-color: #8AAAE5;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: whitesmoke;
  text-decoration: none;
  transition: all.4s;
  cursor: pointer;
  appearance: none;
  border: none;
}

.toTop:hover {
  background-color: whitesmoke;
  color: #8AAAE5;
  font-size: 30px;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  width: 60%;
  margin: 0 auto;
  list-style: none;
}

nav .navbar li a {
  text-decoration: none;
  color: whitesmoke;
}

@media (max-width: 940px ) {
  .galleryFlex li {
    width: calc((100% / 2) - 20px);
    flex-direction: column;
    flex-wrap: nowrap;
  }  
}

@media (max-width:542px) {
  .galleryFlex li {
    width: 100%;
  }
}
