.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.progressBar {
  height: 5px;
  background-color: #8AAAE5;
  margin: 20px 0;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  color: #8AAAE5;
}
html {
  background-color: #424651;
  color: whitesmoke;
}

.imgContainer {
  max-width: 100%;
}

img {
  max-width: 100%;
  display: block;

}

/* * {
  border: 1px red solid;
} */

.galleryFlex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.galleryFlex li {
  width: calc((100% / 3) - 20px);
  margin: 0 9px 20px;
}

input {
  display: none;
}

label {
  background-color: #8AAAE5;
  color: whitesmoke;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.4;
  font-size: 2rem;
}

label:hover {
  background-color: whitesmoke;
  color: #8AAAE5;
  transition: all 0.3s ease;
  font-weight: bold;
  padding: 2px;
}

form {
  height: 55px;
  margin-bottom: 30px;
}

.toTop {
  background-color: #8AAAE5;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: whitesmoke;
  text-decoration: none;
  transition: all.4s;
  cursor: pointer;
  appearance: none;
  border: none;
}

.toTop:hover {
  background-color: whitesmoke;
  color: #8AAAE5;
  font-size: 30px;
}

@media (max-width: 940px ) {
  .galleryFlex li {
    width: calc((100% / 2) - 20px);
    flex-direction: column;
    flex-wrap: nowrap;
    

  }
  

  /* .galleryFlex:first-child {
    align-items: baseline;
  } */
}

@media (max-width:542px) {

  .galleryFlex li {
    width: 100%;
  }
}
